{% extends 'base.html' %}

{% block title %}All games{% endblock %}



{% block content %}


<section class="page-banner" style="background-image:url(images/background/title-bg.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>selection by genre</h1>
            <ul class="bread-crumb clearfix">
                {%for genre in genres%}
                    <li><a href="/genre/{{ genre.gerne_name }}"> {{ genre.gerne_name }} </a></li>
                {%endfor%}
            </ul>

        </div>
    </div>
</section>
<!--End Page Title-->


{% for image in images %}
<img src="data:image/jpeg;base64, {{ image }}" alt="">
{% endfor %}
{%for game in games%}

<section class="player-info-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-6 col-sm-12">
                <div class="inner wow fadeInRight">
                    <div class="title-box">
                        <div class="Games">{{ game.name }}</div>
                        <div class="Price">Price :: {{ game.price }} ₴</div>
                    </div>
                    <div class="Description">{{game.game_description}}</div>
                </div>

                <div class="content-box">
                    <form action="{{ url_for('basket.add_basket', game_id=game.idgames) }}" method="post">

                        <div class="btn-box">
                            <form id="add-to-basket-form" action="{{ url_for('basket.add_basket', game_id=game.idgames) }}"
                                  method="post">
                                <button type="submit" class="add-to-basket-btn">Add to Basket</button>

                            </form>
                        </div>
                        <div id="message-section"></div>
                    </form>
                </div>

            </div>
            <!--Image Column-->
            <div class="image-column col-lg-5 col-md-5 col-sm-5">
                <div class="inner wow fadeInLeft">
                    {% if game.photo %}
                    <img src="data:image/jpeg;base64, {{ game.photo | b64encode }}" alt="">
                    {% else %}
                    <img src="{{ url_for('static',filename='images/resource/Games.jpeg')}}" alt="">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{%endfor%}

<script>
    // Обработчик события отправки формы
    document.addEventListener('submit', function(event) {
        if (event.target.matches('#add-to-basket-form')) {
            event.preventDefault(); // Предотвращаем отправку формы

            // Отправляем AJAX-запрос на сервер
            fetch(event.target.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.status === 200) {
                    // Если статус успешный (200), получаем JSON-ответ
                    return response.json();
                } else {
                    // Если статус ошибочный, генерируем ошибку
                    throw new Error('Request failed');
                }
            })
            .then(data => {
                var messageSection = document.getElementById('message-section');
                messageSection.innerText = data.message;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    });
</script>

{%endblock %}

